@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
   --fs-small: clamp(0.88rem, calc(0.66rem + 1.07vw), 2.38rem);
   --fs-normal: clamp(1.17rem, calc(0.93rem + 1.20vw), 2.85rem);
   --fs-title: clamp(1.56rem, calc(1.29rem + 1.33vw), 3.42rem);
}

.title{
   font-size: var(--fs-title);
   line-height: 1.2;
}

.font-normal{
   font-size: var(--fs-normal);
   line-height: 1.3;
}

.font-small{
   font-size: var(--fs-small);
   line-height: 1.4;
}

.container-lista-chutes:has(:not(span:empty))::before{
   content: 'Seus chutes: ';
}